@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");

html,
body,
#root {
  font-family: DM Mono, "sans-serif";
}

.form-control.input-box {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  font-size: 17px;
  opacity: 0.8;
}

.form-control.input-box:focus {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  font-size: 17px;
  opacity: 1;
  background-color: rgba(128, 128, 128, 0.1)
}

.btn.button-style {
  background-color: #085ed6;
  border: none;
  color: black;
  font-size: 20px;
}

.btn.button-style:hover {
  background-color: #006aff;
  color: white;
}
